<label>
  mark 1
</label>
<input type = "number" [(ngModel)] = "m1"/>
<br/>

<label>
  mark 2
</label>
<input type = "number" [(ngModel)] = "m2"/>
<br/>

<label>
  mark 3
</label>
<input type = "number" [(ngModel)] = "m3"/>
<br/>

<button (click)= "sum()">Calculate Total</button>

<div *ngIf = "result">
  The result is {{result}}
</div>
<p>RESULT TYPES</p>
<div *ngFor = "let type of typesOfResult">
  {{type | lowercase}}
</div>

<p>Today  is {{ currentDate }} </p>
<p>Today is {{ currentDate | date:"MM/dd/yy" }} </p>

